In [1]:
import pandas as pd
import seaborn as sb

In [4]:
base = pd.read_csv('trees.csv')
base.head()

   Girth  Height  Volume
0    8.3      70    10.3
1    8.6      65    10.3
2    8.8      63    10.2
3   10.5      72    16.4
4   10.7      81    18.8