In [35]:
import pandas as pd
import seaborn as srn
import statistics as snt

In [36]:
df = pd.read_csv('tempo.csv', sep = ';')
df

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [37]:
"""Como é possível ver, existem valores errados, uma vez que o exercício pede:
Temperatura: -130 ~ 130 F
Umidade: 0 ~ 100
Aparencia: sol, nubado, chuva
Jogar: sim/nao

"""

'Como é possível ver, existem valores errados, uma vez que o exercício pede:\nTemperatura: -130 ~ 130 F\nUmidade: 0 ~ 100\nAparencia: sol, nubado, chuva\nJogar: sim/nao\n\n'

In [38]:
#Vamos procurar os valores nulos:

df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [39]:
#Limpando os valores nulos na temperatura:
#Vamos substituir o valor pela mediana
df['Umidade'].fillna(snt.median(df['Umidade']), inplace = True)

df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [40]:
#Limpando os valores nulo em vento
#Vamos substituir pela moda (Falso)

df.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [41]:
#Substituição:
df['Vento'].fillna('FALSO', inplace = True)

df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [42]:
df.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [43]:
#Vamos substituir o valor "menos" pela moda (chuva/sol)
df.loc[df['Aparencia'] == 'menos', 'Aparencia'] = 'sol'

#verificado se existe mais algum valor errado
df.groupby(['Aparencia']).size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [44]:
df['Temperatura'].describe()
#Como podemos ver, o valor máximo de temperatura está acima do máximo proposto pelo exercício, sendo assim, 
#precisamos reajustá-lo (substituiremos os valores pela mediana)

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [46]:
#Valor da mediana:
mediana = snt.median(df['Temperatura'])
#Substituicao:
df.loc[df['Temperatura'] > 130, 'Temperatura'] = mediana
#Visualizacao:

df['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [49]:
#Verificando se os valores da umidade estão corretos:
df['Umidade'].describe()

count     14.000000
mean      89.464286
std       33.204763
min       65.000000
25%       71.250000
50%       85.250000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [ ]:
#Como é possível ver, os valores estão errados, pois o máximo - que deveria ser 100 - está em 200

In [51]:
#Para fazer a umidade ficar com os valores corretos, vamos substituir os valores errados pela mediana:

df.loc[df['Umidade'] > 100, 'Umidade'] = snt.median(df['Umidade'])

In [52]:
#Verificando:
df['Umidade'].describe()

count    14.000000
mean     81.267857
std       9.576847
min      65.000000
25%      71.250000
50%      85.125000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [53]:
df

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0    85.00       FALSO   nao
1        sol         80.0    90.00  VERDADEIRO   nao
2    nublado         83.0    86.00       FALSO   sim
3      chuva         70.0    85.50       FALSO   sim
4      chuva         68.0    80.00       FALSO   sim
5      chuva         65.0    70.00  VERDADEIRO   nao
6        sol         64.0    65.00  VERDADEIRO   sim
7        sol         73.5    95.00       FALSO   nao
8        sol         69.0    70.00       FALSO   sim
9      chuva         75.0    85.25       FALSO   sim
10       sol         75.0    70.00  VERDADEIRO   sim
11   nublado         72.0    90.00  VERDADEIRO   sim
12   nublado         81.0    75.00       FALSO   sim
13     chuva         71.0    91.00  VERDADEIRO   nao